@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

html, body{
    min-height: 100%;
}

body{
    margin: 0;
    min-height: 100%;
    background-color: rgb(255, 255, 255);
}

.layout{
    display: grid;
    grid-template-columns: 10% 90%;

}

.texture{
    height: calc(100% + 20px);
    min-height: calc(100vh - 20px);
    background-image: url('/texture.svg');
    background-size: contain;
}

nav{
    margin: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: 70px auto;
}

nav h1{
    display:inline;
}
nav .links{
    text-align: right;
}

nav .links .link{
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px;
    text-decoration: none;
    color: rgb(52, 53, 92);
    font-family: 'Chelsea Market', cursive;
}

nav .links .link:hover{
    border-bottom: 1px solid rgb(52, 53, 92);
}

nav img{
    width: 70px;
}

footer{
    font-family: 'Chelsea Market', cursive;
    text-align: center;
    color: rgba(52, 53, 92, 0.651);
    font-size: 13px;
    padding-top: 50px;
}

footer p{
    display: inline;
    border-top: 1px solid rgba(52, 53, 92, 0.308);
    padding: 10px 30px;
}


@media only screen and (max-width: 610px) {
    nav .links .link{
        font-size: 15px;
        padding: 5px;
    margin: 0 5px;
    }
    
}

@media only screen and (max-width: 510px) {
    nav .links .link{
        padding: 0 2px;
        
        margin-bottom: 5px;
    }

    nav{
        margin: 20px 10px;
        padding: 0px;
    }
    
}