@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

html, body{
    min-height: 100%;
}

.light{
    color: rgb(52, 53, 92);
    .layout{
        background-color: rgb(255, 255, 255);
    }
    a{
        color: rgb(52, 53, 92);
    }
    h3{
        color: rgb(52, 53, 92);
    }
    .mode{
        background-color: rgb(255, 244, 179);
    }
    .texture{
        background-image: url('/texture_light.svg');
    }
    nav .logo{
        background-image: url('/jo_logo_light.svg');
    }
}

.dark{
    color: rgb(255, 255, 255);
    .layout{
        background-color: rgb(27, 28, 37);
    }
    a{
        color: rgb(255, 244, 179);
    }
    h3{
        color: rgb(255, 244, 179);
    }
    .mode{
        background-color: rgb(58, 58, 88);
    }
    .texture{
        background-image: url('/texture_dark.svg');
    }
    nav .logo{
        background-image: url('/jo_logo_dark.svg');
    }
}

body{
    margin: 0;
    min-height: 100%;
}

.layout{
    display: grid;
    grid-template-columns: 10% 90%;
    min-height: 100vh;
    z-index: -1;
}

.texture{
    background-size: contain;
}

.mode{
    z-index: 99;
    width: 50px;
    height: 50px;
    display: inline;
    position: fixed;
    right: 5%;
    top: 27%;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    animation-name: attract;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes attract {
    0%   {width: 50px; height: 50px;}
    50%  {width: 55px; height: 55px; right: calc(5% - 2.5px);}
    100% {width: 50px; height: 50px;}
  }

.mode img{
    width: 100%;
}

nav{
    margin: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: 70px auto;
}

nav h1{
    display:inline;
}
nav .links{
    text-align: right;
}

nav .links .link{
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px;
    text-decoration: none;
    font-family: 'Chelsea Market', cursive;
}

nav .links .link:hover{
    border-bottom: 1px solid rgb(52, 53, 92);
}

nav .logo{
    width: 70px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}

footer{
    font-family: 'Chelsea Market', cursive;
    text-align: center;
    font-size: 13px;
    padding-top: 50px;
}

footer p{
    display: inline;
    border-top: 1px solid rgb(180, 180, 189);
    padding: 10px 30px 0 ;
}


@media only screen and (max-width: 610px) {
    nav .links .link{
        font-size: 15px;
        padding: 5px;
    margin: 0 5px;
    }
    
}

@media only screen and (max-width: 510px) {
    nav .links .link{
        padding: 0 2px;
        
        margin-bottom: 5px;
    }

    nav{
        margin: 20px 10px;
        padding: 0px;
    }
    
}