@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

.banner img{
    max-width: 500px;
    width: 100%;
}
.text{
    position: relative;
    font-family: 'Clicker Script', cursive;
}
.text h1{
    color: rgb(52, 53, 92);
    text-align: center;
    font-size: 70px;
    font-weight: lighter;
    margin: 0;
}

.text h2{
    color: rgb(52, 53, 92);
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
    margin: 0;
}

.text h3{
    color: rgb(52, 53, 92);
    text-align: center;
    font-family: 'Chelsea Market', cursive;
    font-size: 25px;
    font-weight: 300;
    margin: 0;
}

.text img{
    opacity: 0.1;
    bottom: 35px;
    position: absolute;
    width: 400px;
    left: calc(50% - 200px);
    z-index: -1;
}
section{
    margin: 5%;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}